<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/public/signin.css">
   <title></title>
</head>
<body>
   <form action="/" method="post"> <br>
   <label for="username">User</label>
   <input type="text" name="username" id="username"> <br>
   <label for="password">Pass</label> <br>
   <input type="password" id="password" name="password"> <br>
   <label for="email">Email</label> <br>
   <input type="email" id="email" name="email"> <br>
   <label for="age">Age</label> <br>
   <input type="number" id ="age" name="age"> <br>
   <input type="submit" value="register"> <br>
   </form>
</body>
</html>